<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite" parallel="tests">
    <listeners>
        <listener class-name="yoversemarket.utils.listeners.TestListener"/>
    </listeners>
    <test name="YoverseMarket">
        <parameter name="browser" value="chrome">
        </parameter>
        <classes>
            <class name="yoversemarket.tests.PlaceOnMarketTest">
<!--                <methods>-->
<!--                    <include name=""/>-->
<!--                    <include name=""/>-->
<!--                    <include name=""/>-->
<!--                </methods>-->
            </class>
        </classes>
    </test> <!-- Test -->


<!--    <test name="KimiWallet1">-->
<!--        <parameter name="browser" value="edge">-->
<!--        </parameter>-->
<!--        <classes>-->
<!--            <class name="marketplace.tests.WalletTest">-->
<!--&lt;!&ndash;                <methods>&ndash;&gt;-->
<!--&lt;!&ndash;                    <include name=""/>&ndash;&gt;-->
<!--&lt;!&ndash;                    <include name=""/>&ndash;&gt;-->
<!--&lt;!&ndash;                    <include name=""/>&ndash;&gt;-->
<!--&lt;!&ndash;                </methods>&ndash;&gt;-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->

</suite> <!-- Suite -->